services:
  app:
    build:
      context: .
    ports:
      - "8000:8000"
    volumes:
      - ./culinaryblogapi:/culinaryblogapi
    command: ["uvicorn", "culinaryblogapi.main:app", "--host", "0.0.0.0", "--port", "8000"]
    environment:
      - DB_HOST=db
      - DB_NAME=app
      - DB_USER=postgres
      - DB_PASSWORD=pass
    depends_on:
      db:
        condition: service_healthy 
    networks:
      - backend
    container_name: app

  db:
    image: postgres:17.0-alpine3.20
    environment:
      - POSTGRES_DB=app
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=pass
    networks:
      - backend
    container_name: db
    healthcheck: 
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 2s
      timeout: 1s
      retries: 2
    

networks:
  backend:
